@media screen and (max-width: 900px) {
    .form {
        div {
            width: 100%;
        }

        input,
        textarea {
            width: 100% !important;
        }
    }
}


.form {
    padding: 0 25px;

    input:not([type=button]),
    textarea {
        padding: 5px;
        width: 25%;
        transition: ease-in-out, width .35s ease-in-out,
            border-color .35s ease-in-out;
        border-radius: 5px;
        border: 3px solid rgba(#AAA, 0.9);
        resize: none;
        margin-bottom: 15px;
        margin-right: 15px;

        &:focus,
        &:focus-visible,
        &:focus-within {
            box-shadow: none;
            outline: none;
            border-color: var(--a2);
            width: 33%;
        }
    }

    .image_change {
        position: relative;
        width: 100%;
        height: 100%;
        border: 3px solid rgba(#AAA, 0.9);
        cursor: pointer;
        overflow: hidden;

        &:hover .hover_inside {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        input[type=button] {
            width: 70%;
            height: 20%;
        }

        .hover_inside {
            opacity: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(#000, 0.7);
            z-index: 99;
            position: absolute;
            transition: opacity 0.3s ease-in-out;
            border-radius: inherit;
        }
    }
}