$small: 300px;
$medium: 900px;


@media screen and (max-width: 1200px) {
    .layout {
        padding: 0;

        .content {
            padding: 0;
        }
    }
}

@media screen and (max-width: $medium) {
    .content {
        margin-bottom: 150px;
    }

    .sidebar {
        position: fixed;
        width: 100%;
        height: auto;
        top: unset;
        z-index: 99;
        background-color: var(--a1);
        padding: 10px;

        span {
            display: none;
        }

        hr {
            display: none;
        }

        ul {
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            li svg {
                margin: 0;
            }
        }

        svg {
            margin: 0;
        }

        li.active a::before {
            margin: 0 0;
            left: 0;
            bottom: -5px;
            width: 200%;

            transform: translate(-25%, 0%);
            height: 3px;
        }

        .bottom {
            position: relative !important;
        }

    }
}