:root {
    --colorBackground: #3C4F76;
    --colorForeground: #F5F5F5;
    --colorAccent1: #00B8A9;
    --colorAccent2: #FDB813;
    --colorAccent3: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    margin: 0;
    background-color: var(--colorBackground);
    color: var(--colorForeground);
}