@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&family=Signika+Negative:wght@300&display=swap');

:root {
    --bg: #252627;
    --fg: #DBD9DB;
    --a1: #1a1818;
    --a2: #D5A021;
    --highlight: #048BA8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

body,
html {
    width: 100%;
    margin: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 1.1rem;
}

a {
    color: var(--highlight);
}

.error {
    color: var(--a2);
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18%;
    min-width: fit-content;
    font-size: 1.4rem;
    height: 100vh;
    padding-right: 10px;

    * {
        font-family: "Poppins" !important;
    }

    ul {
        margin: 0px;
        margin-top: 70px;
        padding: 0px;
    }

    li {

        list-style-type: none;
        margin: 10px 0px;
        padding: 3px;
        border-radius: 1px;
        position: relative;

        svg {
            height: 22px;
            width: 22px;
            margin-right: 10px;

            * {
                stroke: var(--fg);
                fill: var(--fg);
            }
        }
    }

    li.active {
        color: var(--a2);

        svg * {
            stroke: var(--a2);
            fill: var(--a2);
        }

        a:link,
        a:visited {
            color: var(--a2);
        }

        ::before {
            content: "";
            vertical-align: top;
            position: absolute;
            left: -10px;
            width: 3px;
            height: 100%;
            background-color: var(--a2);
            border-radius: 2px;
        }
    }

    a,
    a:visited,
    a:link {
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        color: var(--fg);
    }

    li:hover {
        a {
            color: var(--a2);
        }

        svg * {
            stroke: var(--a2);
            fill: var(--a2);
        }
    }

    hr {
        background-color: var(--a1);
        border-color: var(--a1);
    }
}

.layout {
    display: flex;
    padding: 0 15%;

    .content {
        width: 100%;
        padding: 10px;
    }
}

.round {
    border-radius: 50%;
}

.bottom {
    position: absolute !important;
    bottom: 0;
}

img {
    image-rendering: crisp-edges;
    object-fit: cover;
}

.genreTag {
    display: inline;
    background-color: #048BA8;
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
}

.movieCover {
    aspect-ratio: 640/880;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    align-content: center;
    justify-content: center;
}


.hover {
    position: relative;

    &:hover {
        .hover_inside {
            opacity: 1 !important;
        }
    }

    .hover_inside {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;
        background-color: rgba(#1a1818, 0.9);
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.fill svg * {
    stroke: red;
    fill: red;
}

.heart svg {
    height: 30px;
    width: 30px;

    * {
        transition: 0.2s ease-in-out;
    }
}

.heart:hover svg * {
    stroke: red;
    fill: red;
}