:root {
    --bg: #252627;
    --fg: #DBD9DB;
    --a1: #1a1818;
    --a2: #D5A021;
    --highlight: #048BA8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    margin: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 1.1rem;
}

a {
    color: var(--highlight);
}

.error {
    color: var(--a2);
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 17%;
    height: 100vh;
    padding-left: 40px;

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        list-style-type: none;
    }

    a,
    a:visited,
    a:link {
        text-decoration: none;
        list-style: none;
        color: var(--fg);
    }

    li:hover {
        background-color: var(--a1);

        a {
            color: var(--highlight);
        }
    }
}

.layout {
    display: flex;

    .content {
        width: 100%;
        padding: 10px;
    }
}

.round {
    border-radius: 50%;
}

.bottom {
    position: absolute;
    bottom: 0;
}

img {
    fill: red;
}

li.active {
    background-color: var(--a1);
    color: var(--a2);

    a:link,
    a:visited {
        color: var(--a2);
    }
}