:root {
    --bg: #252627;
    --fg: #DBD9DB;
    --a1: #1a1818;
    --a2: #D5A021;
    --highlight: #048BA8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    margin: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 1.1rem;
}

a {
    color: var(--highlight);
}

.error {
    color: var(--a2);
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: clamp(100px, 20%, 300px);
    font-size: 1.4rem;
    height: 100vh;
    padding-left: 40px;
    padding-right: 10px;

    ul {
        margin: 0px;
        margin-top: 70px;
        padding: 0px;
    }

    li {

        list-style-type: none;
        margin: 10px 0px;
        padding: 3px;
        border-radius: 1px;
        position: relative;

        svg {
            height: 22px;
            width: 22px;
            margin-right: 10px;

            * {
                stroke: var(--fg);
            }
        }
    }

    li.active {
        color: var(--a2);

        svg * {
            stroke: var(--a2);
            fill: var(--a2);
        }

        a:link,
        a:visited {
            color: var(--a2);
        }

        svg {
            margin: 0;
        }

        ::before {
            content: "";
            vertical-align: top;
            position: absolute;
            left: -10px;
            width: 3px;
            height: 100%;
            background-color: var(--a2);
            border-radius: 2px;
        }
    }

    a,
    a:visited,
    a:link {
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        color: var(--fg);
    }

    li:hover {
        a {
            color: var(--a2);
        }

        svg * {
            stroke: var(--a2);
            fill: var(--a2);
        }
    }
}

.layout {
    display: flex;

    .content {
        width: 100%;
        padding: 10px;
    }
}

.round {
    border-radius: 50%;
}

.bottom {
    position: absolute;
    bottom: 0;
}

img {
    fill: red;
}