:root {
    --colorBackground: #3C4F76;
    --colorForeground: #2C3E50;
    --colorAccent1: #F4F9FF;
    --colorAccent2: #B2C7E0;
    --colorAccent3: #FFB347;

    --red: red;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    margin: 0;
    background-color: var(--colorBackground);
    color: var(--colorAccent1);
    font-size: 1.1rem;
}

a {
    color: var(--colorAccent3);
}

.error {
    color: var(--colorAccent3);
}