.wrapper {
    width: 100%;
    padding: 2%;
    margin: auto;
    background-color: var(--a1);
}

.wrapper input {
    background-color: var(--a1);
    width: 100%;
    padding: 3%;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid;
    color: var(--fg);
    border-color: var(--a1);
}

.wrapper input[type="submit"] {
    background-color: var(--highlight);
    color: var(--bg);
}

.wrapper input::placeholder {
    color: var(--fg);
}


/*Desktop*/
@media screen and (min-width: 880px) {
    .wrapper {
        width: 50%;
    }
}

/*Tablet*/
@media screen and (min-width: 600px) {
    .wrapper {
        width: 70%;
        margin-top: 10%;
    }
}