.wrapper {
    width: 100%;
    padding: 2%;
    margin: auto;
    background-color: var(--colorForeground);
}

.wrapper input {
    background-color: var(--colorBackground);
    width: 100%;
    padding: 3%;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid;
    color: var(--colorAccent1);
    border-color: var(--colorAccent2);
}

.wrapper input::placeholder {
    color: var(--colorAccent2);
}


/*Desktop*/
@media screen and (min-width: 880px) {
    .wrapper {
        width: 50%;
    }
}

/*Tablet*/
@media screen and (min-width: 600px) {
    .wrapper {
        width: 70%;
        margin-top: 10%;
    }
}