.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0px 0px var(--a2);
    transition: box-shadow 0.25s ease-in-out,
        transform 0.25s ease-in-out;

    img {
        display: block;
        width: 100%;
        border-radius: 10px;
        height: auto;
    }

    &:hover {
        box-shadow: 0 0 40px 5px var(--a2);
        transform: scale(1.05);
        cursor: pointer;

        .card_hover {
            opacity: 1;
        }
    }
}

.card_hover {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    padding: 5%;
    background-color: rgba(#1a1818, 0.85);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}