.nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    li {
        a {
            display: block;
            color: var(--fg);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            position: relative;

            &.active {
                color: var(--a2);

                &:before {
                    content: "";
                    vertical-align: top;
                    position: absolute;
                    margin: 0 0;
                    left: 0;
                    bottom: 9px;
                    width: 80%;
                    background-color: var(--a2);
                    border-radius: 2px;
                    transform: translate(10%, 0%);
                    height: 2px;
                }

            }
        }
    }

    li a:hover {
        color: var(--a2);
    }
}

@media screen and (max-width: 900px) {
    .nav {
        background-color: var(--a1);
    }
}